<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <%- include("includes/baseHead.ejs") %>
        <link rel="stylesheet" href="/assets/css/posts.css">
        <link rel="stylesheet" href="/assets/css/user.css">
        <title>VW | User </title>
    </head>
    <body>
        <div class="page-load-animation fast"></div>
        <div class="page-load-overlay fast"></div>

        <%- include("includes/header.ejs") %>
        <%- include("includes/authModal.ejs") %>
        <%- include("includes/sidebarMenu.ejs", {active: ""}) %>

        <div class="auth-modal justify-content-center align-items-center" id="userAvatar-modal">
            <div class="auth-modal-body d-flex flex-column">
                <div class="auth-modal-header d-flex justify-content-between align-items-center">
                    <h3 class="heading h-3 gradient text-center">
                        Change user avatar
                    </h3>
                    <div class="d-flex btn close-btn" onclick="hideModal('userAvatar-modal')">
                        <img src="/assets/img/icons/menu-icon-close.svg" alt="close">
                    </div>
                </div>
                <div class="auth-modal-content">
                    <form action="/changeUserAvatar/<%= user.id %>" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="avatarImg" class="form-label">Image file</label>
                            <input type="file" accept="image/*" class="form-control" id="avatarImg" name="avatarImg" required>
                        </div>
                        <div class="form-submit d-flex justify-content-center">
                            <button id="userAvatarSubmitBtn" class="btn btn-primary" type="submit">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
                <div class="auth-modal-footer">

                </div>
            </div>
        </div>

        <section id="user-profile">
            <div class="container">
                <div class="d-flex user-wrapper">
                    <div class="user-avatar align-items-center">
                        <% if (user.id == locals.authUser.id || authUser.isAdmin) { %> 
                        <div class="overlay-img-choose" onclick="showModal('userAvatar-modal')">
                            <img src="/assets/img/icons/camera.svg" alt="camera">
                        </div>
                        <% } %>
                        <% if (user.avatarLocation) { %>
                            <img src="<%=`${process.env.SERVER_URL}:${process.env.SERVER_PORT}/${user.avatarLocation}`%>" alt="user-avatar">
                        <% } else { %>
                            <img src="/assets/img/userAvatarDefault.png" alt="user-avatar">
                        <% } %>
                    </div>
                    <div class="d-flex user-details">
                        <div class="user-base-info d-flex flex-column justify-content-between">
                            <div>
                                <div class="user-heading d-flex align-items-center">
                                    <h1 class="heading h-1"> <%= user.name %> </h1> 
                                </div>
                                <p class="poppins-thin-italic"> Joined <span class="poppins-light "> <%= user.dateCreated %> </span> </p>
                            </div>
                            <div class="user-misc d-flex align-items-center">
                                <% if (user && user.isAdmin) { %> <span class="badge text-bg-danger">Admin</span> <% } %>
                                <% if (user && user.hasPremium) { %> <span><img class="user-premium-icon" src="/assets/img/icons/star.svg" alt="premium"></span> <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="user-stats d-flex flex-column">
                        <div class="user-stat-card d-flex flex-column align-items-center justify-content-center">
                            <h3 class="heading"><%= user.posts.length %></h3>
                            <h6 class="poppins-extralight">posts</h6>
                        </div>
                        <div class="user-stat-card d-flex flex-column align-items-center justify-content-center">
                            <h3 class="heading"><%= user.comments.length %></h3>
                            <h6 class="poppins-extralight">comments</h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="user-posts">
            <div class="container">
                <div class="d-flex posts-heading justify-content-between align-items-center">
                    <h2 class="heading h-2 ">Posts</h2>
                    <button class="btn btn-primary btn-icon offset collapseShowBtn" data-bs-toggle="collapse" data-text="show"
                        data-bs-target="#postsCollapse" aria-expanded="false" aria-controls="postsCollapse">
                        <img src="/assets/img/icons/chevron-down-dark.svg" class="btn-io-up" alt="show">
                    </button>
                </div>
                <div class="collapse" id="postsCollapse">
                    <div class="user-posts-wrapper d-flex flex-column">
                        <% for (const post of user.posts) { %>
                        <a href="/post/<%= post.id %>" class="a-plain" role="button">
                            <div class="post-card">
                                <div class="post-card-content col-8">
                                    <div class="card-body-text">
                                        <div class="card-text">
                                            <div class="card-text-header d-flex justify-content-between">
                                                <h5 class="card-heading gradient"> <%= post.title %> </h5>
                                                <h6 class="poppins-thin"> <%= user.name %> </h6>
                                            </div>
                                            <p>Pizza ipsum dolor meat lovers buffalo. Pie extra marinara style pepperoni pesto fresh roll. Tomatoes dolor hand bacon NY. </p>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between align-items-center">
                                            <div class="d-flex card-btn-group">
                                                <% if (user.id == locals.authUser.id || locals.authUser.isAdmin) { %>
                                                <button class="btn btn-secondary btn-icon">
                                                    <img src="/assets/img/icons/edit.svg" alt="edit">
                                                </button>
                                                <button class="btn btn-secondary btn-icon">
                                                    <img src="/assets/img/icons/delete.svg" alt="delete">
                                                </button>
                                                <% } %>
                                            </div>
    
                                            <div class="d-flex right align-items-center">
                                                <p class="poppins-light-italic thin">8 min read</p>
                                                <div class="circle-divider-xs"></div>
                                                <p class="poppins-thin-italic" style="font-size: 16px;"> <%= locals.globals.epochSecToDateString(post.dateCreatedS) %> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-lnd-card-img col-4" style="background-image: url('/assets/img/pg_semestralka-2-s.jpg')"></div>
                            </div>
                        </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>

        <section id="user-comments">
            <div class="container">
                <div class="d-flex comments-heading justify-content-between align-items-center">
                    <h2 class="heading h-2 ">Comments</h2>
                    <button class="btn btn-primary btn-icon offset collapseShowBtn" data-bs-toggle="collapse" data-text="show"
                        data-bs-target="#commentsCollapse" aria-expanded="false" aria-controls="commentsCollapse">
                        <img src="/assets/img/icons/chevron-down-dark.svg" class="btn-io-up" alt="show">
                    </button>
                </div>
                <div class="collapse" id="commentsCollapse">
                    <div class="user-comments-wrapper d-flex flex-column">
                        <% for (const comment of user.comments) { %>
                        <div class="comment d-flex">
                            <div class="comment-user-img">
                                <a class="a-plain imgLink">
                                    <div class="imgCont">
                                        <% if (user.avatarLocation) { %>
                                            <img src="<%=`${process.env.SERVER_URL}:${process.env.SERVER_PORT}/${user.avatarLocation}`%>" alt="user-avatar" class="u-img">
                                        <% } else { %>
                                            <img src="/assets/img/userAvatarDefault.png" alt="user-avatar" class="u-img">
                                        <% } %>
                                        <% if (user.hasPremium) { %>
                                            <div class="premium-icon-cont d-flex justify-content-center align-items-center"><img class="user-premium-icon smaller" src="/assets/img/icons/star.svg" alt="premium"></div>
                                        <% } %>
                                    </div>
                                </a>
                            </div>
                            <div class="comment-content">
                                <div class="comment-header d-flex justify-content-between align-items-center">
                                    <div class="comment-h-left d-flex align-items-center">
                                        <a class="a-plain italic comment-userName"><h4 class="heading gradient"> <%= user.name %> </h4></a>
                                        <div class="circle-divider-xs"></div>
                                        <p class="poppins-thin-italic" style="font-size: 16px;"> <%= locals.globals.epochSecToDateString(comment.dateCreatedS) %> </p>
                                        <% if (comment.postUserId == comment.userId) { %> 
                                            <div class="circle-divider-xs"></div>
                                            <span class="badge rounded-pill primary-badge">Author</span>
                                        <% } %>
                                    </div>
                                    <div class="comment-h-right d-flex align-items-center">
                                        <div class="comment-btns-action d-flex align-items-center">
                                            <a href="/post/<%= comment.postId %>/#comment-<%= comment.id %>" role="" class="btn btn-secondary btn-icon a-plain">
                                                <img src="/assets/img/icons/arrow-up-right.svg" alt="view">
                                            </a>
                                            <% if (comment.userId == locals.authUser.id || locals.authUser.isAdmin) { %>
                                            <!-- <button class="btn btn-secondary btn-icon">
                                                <img src="/assets/img/icons/edit.svg" alt="edit">
                                            </button> -->
                                            <button class="btn btn-secondary btn-icon">
                                                <img src="/assets/img/icons/delete.svg" alt="delete">
                                            </button>
                                            <% } %>
                                        </div>
                                        <div class="d-flex comment-likes align-items-center">
                                            <%= comment.likeCount %>
                                            <a class="a-plain" role="button"><img src="/assets/img/icons/like.svg" alt="like"></a>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="comment-body">
                                    <p> <%= comment.content %> </p>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>

        <%- include("includes/footer.ejs") %>
        <%- include("includes/scrollToTop.ejs") %>
    </body>
</html>